.recetasContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.recetasGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    justify-content: center;
    /*grid-template-columns: repeat(auto-fill, 350px);*/
    /*padding: 40px;*/
    list-style-type: none;
    padding: 0;
}

@media (max-width: 560px){
    .recetasGrid{
        grid-template-columns: 100%;
    }
}