.register {
    height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    h1{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      input {
        width: 400px;
        height: 40px;
        margin: 10px;
      }
  
      button {
        width: 400px;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        background-color: purple;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
  
      span {
        font-size: 12px;
        color: red;
        margin-top: 10px;
      }
    }

}